body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin: 0;
}

div {
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}